<app-cabecera></app-cabecera>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <!-- ____________________________________________________ -->
            <!-- [routerLink] sustituye en angular al href del enlace -->
            <!-- ____________________________________________________ -->

            <!-- mejor para cuando no hay parámetros -->
            <a routerLink="/pagina1" class="nav-link">Página 1</a> 

        </li>
        <li class="nav-item active">

            <!-- es mas cómodo si hay que pasar parámetros en la ruta para que los recoja otro componente -->
            <a [routerLink]="[ 'pagina2', '111', '222' ]" class="nav-link">Página 2</a> 

        </li>
    </ul>
</nav>

<router-outlet></router-outlet>